<!DOCTYPE html>
<html lang="en">
{{> head }}
<body>
    {{> navbarindex }}
    <section>
        <div class="container mt-4">
            <div class="jumbotron">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <img src="assets/img/icono.png" class="img-fluid" alt="Responsive image">
                    </div>
                    <div class="col-12 col-md-6 jumbotron-content">
                        <h1>Apolo - Tutorías personalizadas</h1>
                        <p class="lead">Aquí podrás encontrar las mejores tutorías personalizadas para la materia que necesites.</p>
                        <hr class="my-4">
                        <p>Accede con tu correo uniandes</p>
                        <a class="btn btn-primary btn-lg" href="/home" role="button">¡Ingresar!</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {{> footer }}
    {{> scripts }}
</body>
</html>